apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-python-muydygmy
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-python-muydygmy:436d2bc619e205aa35c6e7b4de817a38771ca35a@sha256:4d16bbf8cce8601d66b12fd8b27f77090bfcfb7b9d880c863312f6dee11d1b63
        name: container-image  
